body {
  background-color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: lightslategrey;
}

.todo-wrapper {
  width: 400px;
  height: auto;
  background-color: white;
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.1);
  margin: 50px auto;
  overflow: hidden;
}

.todo-wrapper h1 {
  padding-left: 20px;
  color: darkolivegreen;
}

#input-todo {
  width: 100%;
  font-style: italic;
  border: 0px;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  height: 50px;
  padding-left: 20px;
}

#input-todo:focus {
  outline: none;
  background-color: bisque;
}

.show-todo {
  display: flex;
  flex-direction: column;
}

.single-todo {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  color: darkolivegreen;
  flex-direction: row;
  align-items: center;
  position: relative;
  border-bottom: 1px solid lightgrey;
}

.single-todo:focus {
  background-color: bisque;
}

#clear-todo {
  text-align: center;
  cursor: pointer;
  font-size: 14px;
}

.checkbox-todo {
  cursor: pointer;
  border: 1px solid lightgrey;
}

.description-todo {
  text-align: left;
  margin-left: 20px;
  cursor: pointer;
}

.organize-todo {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: row-resize;
}

.todo-show-box {
  position: relative;
  width: 340px;
}

.edit-todo-input {
  font-style: italic;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  height: 49px;
  padding-left: 20px;
  background-color: bisque;
  color: darkolivegreen;
  z-index: 9;
  display: none;
}

.edit-todo-input::after {
  content: "delete";
}

.edit-todo-input:focus {
  outline: none;
}

.color-class {
  background-color: bisque;
}

.todo-delete {
  display: none;
}

.todo-delete-icon {
  position: absolute;
  top: 17px;
  right: 5px;
  z-index: 10;
  cursor: pointer;
  color: lightcoral;
  transition: all 0.3s;
}

.todo-delete-icon:hover {
  box-shadow: 0px 0px 2px 8px rgba(0, 0, 0, 0.1);
}
